extends ./layout/base
block variables
    - let pageTitle = `Tungsten's Data Sheet Services: Technical Product Information for Procurement Decisions`
    - let currentUrl = 'cobham-seatel-datasheets.html'
    - let metaDescription = 'Looking for an agency to create detailed technical information on your product? Tungsten specializes in designing data sheets that provide the information needed for procurement decisions. Entrust us with your B2B communication needs.'


prepend preload


append head
    style.
        .hero {
            position: relative;
            z-index: 0;
        }
        .hero-ellipse {
            width: 100%;
            display: block;
            transform: translateY(50%) scale(1.1);
            position: absolute;
            bottom: 0;
            top: auto;
            left: 0;
            right:0;
            z-index: 1000;
        }

block page
    div(class="hero overflow-hidden")
        picture
            source(srcset="media/cobham-datasheets/ST3011-data-sheets_xs@290.jpg 290w, media/cobham-datasheets/ST3011-data-sheets_xs@436.jpg 436w, media/cobham-datasheets/ST3011-data-sheets_xs@580.jpg 580w, media/cobham-datasheets/ST3011-data-sheets_xs@720.jpg 720w, media/cobham-datasheets/ST3011-data-sheets_xs@1080.jpg 1080w, media/cobham-datasheets/ST3011-data-sheets_xs@1440.jpg 1440w" media="(max-width:600px)")
            source(srcset="media/cobham-datasheets/ST3011-data-sheets_sm@400.jpg 400w, media/cobham-datasheets/ST3011-data-sheets_sm@617.jpg 617w, media/cobham-datasheets/ST3011-data-sheets_sm@926.jpg 926w, media/cobham-datasheets/ST3011-data-sheets_sm@1234.jpg 1234w, media/cobham-datasheets/ST3011-data-sheets_sm@1851.jpg 1851w" media="(max-width:1024px)")
            img(src="media/cobham-datasheets/ST3011-data-sheets@1920.jpg" srcset="media/cobham-datasheets/ST3011-data-sheets@1441.jpg 1441w, media/cobham-datasheets/ST3011-data-sheets@1920.jpg 1920w" alt="Stack of printed data sheets for Cobham 3011, 3-Axis marine stabilized antenna system." width="1920" height="773" class="w-full")
        svg(class="hero-ellipse" fill="none" viewBox="0 0 2219 153")
            ellipse(cx="1109.37" cy="76.27" fill="#fff" rx="1109.37" ry="76.27")



    +page-title({
        tagClient: 'Cobham',
        h1: 'Data Sheets: Somewhere Between a Brochure and a White Paper on the Buyer\'s Journey.',
        subtitle: 'Do data sheets play a role in your marketing mix?',
        class: 'z-10 -mt-2 lg:-mt-5 xl:-mt-10'
    })
    +lead-in({
        content: `A data sheet is an informational document that outlines the technical specifications of a product, component, or software program. It spells out the performance and constraints of the system and its components. Its purpose is to help experienced technical professionals arrive at a buying decision by presenting them with sufficient information to satisfy their questions, or to seek additional information from white papers, brochures, or user guides. Data sheets ultimately lead to a more informed and confident purchasing decision for buyers. `,
        class: 'py-12 sm:py-16 lg:py-20 xl:py-22 bg-blue-light text-white my-6 sm:my-10 lg:my-14 xl:my-20'
    })

    article(class=" page-content mt-10 lg:mt-20 xl:mt-24 leading-normal overflow-hidden")
        .container.flow-root
            p.drop-cap(style="--color: hsla(207, 100%, 39%, 1)") As the world leader in satellite communications, Cobham is constantly releasing new products featuring industry-leading technologies. Decision-makers across multiple industries seek to understand these products and their place within the satellite communications eco-system.

            -
                const datasheetReferred = [
                    "Specifications Sheet",
                    "Features Document",
                    "Specs",
                    "Engineering Data",
                    "Technical Summary"
                ]

            div(class="md:float-right my-5 mx-auto md:m-5 lg:m-8 text-base text-center font-proxima-bold leading-tight max-w-sm lg:max-w-max border-2 border-blue-light fade-in-left")
                div(class=" bg-blue-light text-white px-8 lg:px-12.5 py-4" ) Data sheet are also referred to as:
                each name, index in datasheetReferred
                    div(class="odd:bg-gray-light text-blue-light px-8 lg:px-12.5 py-4 blur-in" )= name

            p These decision-makers include Cobham's dealer network, the IT departments of potential client companies, and the wider satcom industry.

            p Data sheets are the most technical part of product description and documentation. They can be used for commercial or technical communication. A data sheet describes the characteristics of a product, component, or software, in stark, technical outline, devoid of product promotion.
            p Data sheets are now so standardized that experienced decision-makers expect specific information displayed in a familiar format, and in conventional language. It has to be exact, concise, and presented in a factual tone using hard data.
            p A well-written and well-designed data sheet follows a formal structure with strict taxonomy, enabling the reader to glean the information with a quick scan. This helps when making comparisons with other products.
            p When a buyer is making a major investment in software or hardware, the stakes can be high enough that several people may be assigned to a buying team, and there are significant consequences for choosing the wrong solution to a problem.

        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" media="print" onload='this.media="all"')
        style.
            .pdf-slider-main .swiper-slide {
                transform: scale(.7);
                transition: 0.4s ease;
            }

            .pdf-slider-main .swiper-slide-active {
                opacity: 1;
                transform: scale(1);
            }

            .pdf-slider-thumbs .swiper-slide .thumb {
                border: 3px solid hsl(200, 0%, 77%);
                cursor: pointer;
                border-radius: 5px;
                width: 100%;
                max-width: 100px;
                transition: .25s ease;
                transition-property: transform;
                will-change: transform;
            }

            .pdf-slider-thumbs .swiper-slide.swiper-slide-thumb-active .thumb {
                border-color: #00ffea;
                transform: scale(1.2);
            }
            .swiper-button-prev,
            .swiper-button-next {
                z-index: 1000;
                width: 62px;
                height: 62px;
                background-color: hsla(0, 50%,100%, .7);
                backdrop-filter: blur(2px);
            }
            .swiper-button-prev:after,
            .swiper-button-next:after {
                display: none;
            }
            #seaBg {
                top: -580px;

            }
            @media (min-width:375px){
                #seaBg {
                    top: -500px;
                }
            }
            @media (min-width:425px){
                #seaBg {
                    top: -470px;
                }
            }
            #woodTableBg {
                bottom: 60px;
                height: 67%;
            }
            @media (min-width:375px){
                #woodTableBg {
                    bottom: 50px;
                    height: 60%;
                }
            }
            @media (min-width:425px){
                #woodTableBg {
                    bottom: 50px;
                    height: 50%;
                }
            }
            @media (min-width:640px){
                #woodTableBg {
                    bottom: 55px;
                    height: 45%;
                }
            }
            @media (min-width:768px){
                #woodTableBg {
                    bottom: 60px;
                    height: 40%;
                }
            }
            @media (min-width:1024px){
                #woodTableBg {
                    bottom: 70px;
                    height: 40%;
                }
            }

        div(id="datasheets-slider" class="my-8 md:my-10 lg:my-20 relative py-12 sm:py-20 md:py-28 lg:py-32 xl:py-36 bg-blue-light/20 overflow-hidden")
            svg(class="ellipse absolute top-0 left-0 right-0 w-full bottom-auto z-50 scale-110 -translate-y-1/2" fill="none" viewBox="0 0 2219 153")
                ellipse(cx="1109.37" cy="76.27" fill="#fff" rx="1109.37" ry="76.27")
            svg(class="ellipse absolute bottom-0 w-full top-auto z-50 scale-110 translate-y-1/2" fill="none" viewBox="0 0 2219 153")
                ellipse(cx="1109.37" cy="76.27" fill="#fff" rx="1109.37" ry="76.27")
            .absolute.w-full.h-full.inset-0
                img(srcset="../media/cobham-datasheets/SeaTelSliderBg_Sea@400.jpg 400w, ../media/cobham-datasheets/SeaTelSliderBg_Sea@600.jpg 600w, ../media/cobham-datasheets/SeaTelSliderBg_Sea@600.jpg 600w, ../media/cobham-datasheets/SeaTelSliderBg_Sea@800.jpg 800w, ../media/cobham-datasheets/SeaTelSliderBg_Sea@1000.jpg 1000w, ../media/cobham-datasheets/SeaTelSliderBg_Sea@1200.jpg 1200w, ../media/cobham-datasheets/SeaTelSliderBg_Sea@1600.jpg 1600w, ../media/cobham-datasheets/SeaTelSliderBg_Sea@2000.jpg 2000w, ../media/cobham-datasheets/SeaTelSliderBg_Sea@3000.jpg 3000w" src="../media/cobham-datasheets/SeaTelSliderBg_Sea@2000.jpg", alt="SeaTelSliderBg Sea" loading="lazy" class="parallax absolute inset-0 w-full h-full object-cover" id="seaBg" data-speed="0.2")
                img(srcset="../media/cobham-datasheets/SeaTelSliderBg_WoodTable@400.png 400w, ../media/cobham-datasheets/SeaTelSliderBg_WoodTable@600.png 600w, ../media/cobham-datasheets/SeaTelSliderBg_WoodTable@600.png 600w, ../media/cobham-datasheets/SeaTelSliderBg_WoodTable@800.png 800w, ../media/cobham-datasheets/SeaTelSliderBg_WoodTable@1000.png 1000w, ../media/cobham-datasheets/SeaTelSliderBg_WoodTable@1200.png 1200w, ../media/cobham-datasheets/SeaTelSliderBg_WoodTable@1600.png 1600w, ../media/cobham-datasheets/SeaTelSliderBg_WoodTable@2000.png 2000w, ../media/cobham-datasheets/SeaTelSliderBg_WoodTable@3000.png 3000w" src="../media/cobham-datasheets/SeaTelSliderBg_WoodTable@2000.png", alt="SeaTelSliderBg Sea" loading="lazy" class="parallax absolute w-full h-1/3 object-cover" id="woodTableBg" data-speed="0.04")

            //- Slider main container
            div(class="pdf-slider-main")
                .swiper-wrapper
                    //- Slides
                    -
                        const datasheets = [
                            { model: '3011', altImg: 'Data sheet for Cobham 3011, 3-Axis marine stabilized antenna system compatible with Ku-band satellites' },
                            { model: '3612', altImg: 'Data sheet for Cobham 3612, 3-Axis marine stabilized antenna system compatible with Ku-band satellites' },
                            { model: '6012', altImg: 'Data sheet for Cobham 6012, 3-Axis marine stabilized antenna system compatible with Ku-band satellites' },
                            { model: '9711', altImg: 'Data sheet for Cobham 9711 TxRx, 3-Axis marine stabilized antenna system compatible with C- or Ku-band satellites' },
                            { model: 'ST88', altImg: 'Data sheet for Cobham ST88, 3-Axis marine stabilized antenna system compatible with C-Band and Ku-Band satellites' },
                            { model: 'ST94', altImg: 'Data sheet for Cobham ST94, 3-Axis marine stabilized antenna system compatible with C-Band and Ku-Band satellites' },
                            { model: 'ST144', altImg: 'Data sheet for Cobham ST144, 3-Axis marine stabilized antenna system compatible with C-Band and Ku-Band satellites' }
                        ]
                        const reverseDatasheets = datasheets.reverse();
                    each datasheet in reverseDatasheets
                        .swiper-slide
                            a(href=`../media/cobham-datasheets/datasheets/${datasheet.model}.pdf` target="_blank")
                                img(loading="lazy" src=`../media/cobham-datasheets/datasheets/${datasheet.model}@1082.jpg`, srcset=`../media/cobham-datasheets/datasheets/${datasheet.model}@360.jpg 360w, ../media/cobham-datasheets/datasheets/${datasheet.model}@600.jpg 600w, ../media/cobham-datasheets/datasheets/${datasheet.model}@800.jpg 800w, ../media/cobham-datasheets/datasheets/${datasheet.model}@1082.jpg 1082w`, sizes="(max-width:1200px) 33.33vw, 541px" class="mx-auto swiper-lazy shadow-lg" width="541" height="699" alt=`${datasheet.altImg}`)
                                //- .swiper-lazy-preloader

                //- navigation buttons
                div(class=" swiper-button-prev rounded-lg text-blue-light")
                    svg(width="19" height="34" viewBox="0 0 19 34" fill="none")
                        path(d="M2.25 17L1.54289 16.2929L0.835786 17L1.54289 17.7071L2.25 17ZM17.0429 0.792893L1.54289 16.2929L2.95711 17.7071L18.4571 2.20711L17.0429 0.792893ZM1.54289 17.7071L17.0429 33.2071L18.4571 31.7929L2.95711 16.2929L1.54289 17.7071Z" fill="currentColor")

                div(class=" swiper-button-next rounded-lg text-blue-light")
                    svg(width="19" height="34" viewBox="0 0 19 34" fill="none")
                        path(d="M16.75 17L17.4571 16.2929L18.1642 17L17.4571 17.7071L16.75 17ZM1.95711 0.792893L17.4571 16.2929L16.0429 17.7071L0.542893 2.20711L1.95711 0.792893ZM17.4571 17.7071L1.95711 33.2071L0.542893 31.7929L16.0429 16.2929L17.4571 17.7071Z" fill="currentColor")


        .container
            p A good data sheet must not neglect small features that could be a consideration for the user of the product. It offers technical details substantial enough to enable a potential buyer to evaluate the product, or to equip an engineer to understand the role of the component in the overall system.
            p As the headline on this page tells us, a data sheet occupies the space between a product brochure that highlights features and benefits, and a technical white paper or an instruction manual. The examples of data sheets on this page were created by Tungsten for different models of Cobham's self-stabilizing maritime satellite antennae.
            p As a full-service advertising agency, Tungsten created communication materials for every stage of the customer's buying process. The data sheets displayed here represent a type of product communication that has a distinct place amongst other materials Tungsten created for Cobham, ranging from technical videos to training emulator, to magazine advertisements published worldwide.
            p.mb-10 Once designed, these data sheets were printed at an offset printing press, and distributed at trade shows in addition to being made available for electronic download.










    -
        const team = [
            {
                role: "Creative Director",
                name:"Stuart Silberman",
                contacts: {
                    //- linkedin: "https://www.linkedin.com/in/stuart_silberman/"
                }
            },
            {
                role: "Client",
                name: "Bobby Jones"
            }
        ]
    +team(team)


append footer_scripts
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js" defer)
    script(src="js/simpleParallax.js" defer)
    script(src="js/cobham-seatel-datasheets.js" defer)




