extends ./layout/base
block variables
    - var pageTitle = 'Tungsten Advertising Case Study | Cobham SeaTel Brand Page'
    - let currentUrl = 'cobham-seatel-brand.html'

prepend preload

append head
    style.
        :root {
            --c-water-bg:  #030a1c;
            --c-water-bg:  #002046;
        }
        .hero {
            height: max(250px, 37vw);
        }
        .page-title::after {
            background: linear-gradient(to bottom, transparent, var(--c-blue-dark));
            z-index: -1;
        }
        .video-container {

            background: var(--c-water-bg);
        }
        .video-container:after {
            z-index: 1;
            top: -25vh;
            background-image: linear-gradient(transparent, var(--c-water-bg));
            height: 25vh;
        }
        #cobham-seatel-brand-hero-video {
            min-height: 700px;
        }

block page
    div(class="relative ")
        div(class="video-container absolute inset-0 w-full z-0 after:relative after:block after:w-full")
            video(id="cobham-seatel-brand-hero-video" class="relative inset-0 w-full object-cover object-top" autoplay loop muted)
                source(src="../media/cobham-brand/cobham-brand-hero-bg-whale.mp4" type="video/mp4")

        .hero

        +page-title({
            inverted: true,
            tagClient: 'Cobham',
            h1: 'Would You Go on a Pleasure Cruise if You Had to Leave Your Phone at Home?',
            h1Class: ' drop-shadow-sm ',
            subtitle: 'Imagine yourself a seaman on a tanker crossing the calm blue oceans. Or imagine living on an oil rig. Or as a sailor on a naval carrier. How do you keep in touch with the world when living and working on a sea-going vessel, hundreds of miles from a land-line or a cell tower?',
            subtitleClass: ' drop-shadow-sm',
            class: 'z-50 after:opacity-0 after:absolute after:w-full after:h-1/4 after:top-auto after:bottom-0',
        })









        article(class="page-content leading-normal overflow-hidden")

            section(class="text-white pb-12 md:pb-24 relative")
                .container.flow-root
                    img(loading="lazy" src="media/cobham-brand/compass.svg" width="395" height="391" class="-rotate-2 float-right shape-outside w-48 sm:w-56 md:w-64 lg:w-auto -mr-24 sm:-mr-20 xl:-mr-48 relative z-0 mix-blend-overlay lg:mix-blend-multiply opacity-30 " style={filter: 'drop-shadow(0 0 50px #fff)'})
                    img(loading="lazy" src="media/cobham-brand/Seatel_Dome@340.png", srcset="media/cobham-brand/Seatel_Dome@340.png 340w, media/cobham-brand/Seatel_Dome@392.png 392w", sizes="(max-width: 640px) 192px, (max-width: 768px) 224px, (max-width: 1024px) 256px, 288px", alt="Sea Tel Dome Image" class="float-right shape-outside -mr-32 xl:-mr-48 w-48 sm:w-56 md:w-64 lg:w-72 relative z-10 mt-24 lg:mt-48 lg:-mr-56" width="392" height="407")
                    p.drop-cap(style="--color: #fff;").
                        When on land, we're familiar with dish antennae. Look through your  window, and you might spot one on the wall across the street, pointing at the sky, receiving satellite TV and internet straight from space.
                    p.
                        But that won't work on a boat. A boat will constantly yaw, pitch, and roll. It will heave up and down. It could be pointing east one day, and west on the return voyage. No antenna can keep eye-contact with the satellite under those conditions.
                    p.
                        In the early years of satellite communications, Robert J. Matthews invented  an antenna that remained stable by relying on the principle of inertia.
                    p.
                        He founded Sea Tel, Inc. to manufacture and market the antenna. Today, Sea Tel is part of Cobham plc, a British manufacturing company, and world-leader in air-to-air refueling systems.
                    p.
                        Robert Matthews had designed a dish that would remain perfectly still  even when the vessel under the antenna was being tossed about in a storm.
                    p.
                        Nowadays as you can imagine, almost any vessel, any distance from shore will use a self-stabilizing maritime satellite antenna. Leisure yachts use them, aircraft carriers use them. So do fisheries, oil-tankers, cruise and  cargo ships.
                    p.
                        Robert Matthews' invention meant that nascent satellite communications technology could be applied to the maritime industry.






            style.
                #circleShips {
                    width: 300px;
                    transform:rotate(39deg);
                    left: 70px;
                    right: 0;
                    top: 0;
                }
                #domeAntennaImage {
                    top:40px;
                    left: 28vw;
                    right: 0;
                    width: 300px;
                }

                @media (min-width: 480px){
                    #circleShips {
                        left: 50%;
                        margin-left: -110px;
                        right: auto;
                        top: 30%;
                    }
                    #domeAntennaImage {
                        width: 400px;
                        top: 120px;
                        right: 0;
                    }
                }
                @media (min-width: 640px){
                    #domeAntennaImage {
                        top: 135px;
                    }
                }
                @media (min-width: 768px){
                    #circleShips {
                        left: 160px;
                        right: auto;
                        top: -40px;
                    }
                    #domeAntennaImage {
                        top: 0;
                        left: 70px;
                        width: auto;
                    }
                }
                @media (min-width: 1024px){
                    #circleShips {
                        left: 145px;
                        top: 30px;
                    }
                    #domeAntennaImage {
                        top: 65px;
                        left: 66px;
                    }
                }
                @media (min-width: 1280px){
                    #circleShips {
                        left: 50px;
                        top: 40px;
                    }
                    #domeAntennaImage {
                        top: 80px;
                        left: -10px;
                    }
                }
                .ship-category {
                    position: relative;
                    z-index: 1;
                    text-shadow: 0 0 13px #fff, 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff;
                    transition: .3s;
                    backdrop-filter: blur(1px) brightness(2);
                    box-shadow: 0 0 10px #fff, 0 0 2px #fff, 0 0 5px #fff,;
                    padding:0 2px;
                }
                .highlighted {
                    animation-name: highlightWord;
                    animation-iteration-count: 1;
                    animation-timing-function: cubic-bezier(0.02, 0.9, 0.83, 0.99);
                    animation-duration: 3000ms;
                    color: hsl(198, 92%, 48%);
                    z-index: 10;
                }
                @keyframes highlightWord {
                    from {
                        transform: scale(1.5);
                    }
                    to {
                        transform: scale(1);
                    }
                }
                .circleShip {
                }
                .circleShip-inner {
                    box-shadow: 0 0 25px hsla(198, 50%, 20%, .15);
                    transition: .15s ease-out;
                    background: #fff;
                }
                .circleShip-inner:after {
                    background-image: radial-gradient(hsla(200, 50%, 50%, .2) 45%, hsla(198, 40%, 80%, .3) 50%, #fff 80%, transparent 90%);
                    opacity:1;
                    transform: scale(0.2);
                    z-index: -100;
                    pointer-events: none;
                    mix-blend-mode: multiply;

                }
                .circleShip-inner:before {
                    background-image: radial-gradient(hsla(200, 50%, 50%, .2) 45%, hsla(204, 35%, 70%, .2) 50%, #fff 80%, transparent 100%);
                    opacity:1;
                    transform: scale(0.2);
                    z-index: -100;
                    pointer-events: none;
                    mix-blend-mode: multiply;
                    display: none;
                }
                .circleShip-inner:hover {
                    box-shadow: 0 0 2px hsla(198, 50%, 20%, .2);
                }
                .circleShip-inner:hover:after {
                    transform: scale(5);
                    opacity: 0;
                    transition: 1s ease-out;
                }
                .circleShip-inner:hover:before {
                    transform: scale(6);
                    opacity: 0;
                    transition: 1.5s ease-out .2s;
                }
                .circleShip-image {

                }
                @keyframes waterCircles {
                    0% {
                        opacity: 0;
                        transform: scale(1);
                    }

                    70% {
                        opacity: 1;
                        transform: scale(4);
                    }
                    100% {
                        opacity: 0;
                        transform: scale(5);
                    }
                }

            svg( class="relative" width="100%" height="34")
                path(fill="#fff" d="M192 14.573c-64-19.43-128-19.43-192 0V34h1920V14.573c-64 19.431-128 19.431-192 0-64-19.43-128-19.43-192 0-64 19.431-128 19.431-192 0-64-19.43-128-19.43-192 0-64 19.431-128 19.431-192 0-64-19.43-128-19.43-192 0-64 19.431-128 19.431-192 0-64-19.43-128-19.43-192 0-64 19.431-128 19.431-192 0Z")
            section(class="pt-6 pb-8 xs:pt-8 xs:pb-12 sm:pt-14 md:pt-8 lg:pt-4 lg:pb-24 bg-white relative z-10 overflow-hidden")
                .container.relative
                    div(class="relative translate-y-16 xs:translate-y-0 md:absolute md:translate-x-20 md:translate-y-48 lg:translate-y-32 xl:translate-y-28 ")
                        img(src="media/cobham-brand/SeaTel_Dome_Antenna.png", alt="SeaTel_Dome_Antenna Image" loading="lazy" class="relative" id="domeAntennaImage" width="432" height="356")
                        div(id="circleShips" class="absolute aspect-square")
                            -
                                const ships = [
                                    {
                                        src:'media/cobham-brand/Ship1.svg',
                                        width: 123,
                                        height: 50,
                                        animationOrder: 1,
                                        id: 'Leisure'
                                    },
                                    {
                                        src:'media/cobham-brand/Ship2.svg',
                                        width: 135,
                                        height: 50,
                                        animationOrder: 2,
                                        id: 'Commercial'
                                    },
                                    {
                                        src:'media/cobham-brand/Ship3.svg',
                                        width: 119,
                                        height: 46,
                                        animationOrder: 3,
                                        id: 'Military'
                                    },
                                    {
                                        src:'media/cobham-brand/Ship4.svg',
                                        width: 133,
                                        height: 48,
                                        animationOrder: 4,
                                        id: 'Oil_Gas'
                                    },
                                    {
                                        src:'media/cobham-brand/Ship5.svg',
                                        width: 116,
                                        height: 71,
                                        animationOrder: 5,
                                        id: 'Fisheries'
                                    }
                                ]
                                const shipsReverse = ships.reverse();
                            each ship, index in ships
                                div(class="circleShip absolute top-1/3 left-1/3 group" data-id=`${ship.id}`)
                                    div(class="circleShip-inner rounded-full relative  w-30 xs:w-32 sm:w-40 aspect-square z-10 grid place-items-center p-1 xs:p-4 after:absolute after:w-1/2 after:h-1/2 after:rounded-full  after:inline-grid after:-z-10 before:absolute before:w-1/2 before:h-1/2 before:rounded-full  before:inline-grid before:-z-20" style=`transform: rotate(${(index+1)*47}deg) translate(clamp(170px, 35vw, 250px))`)
                                        img(loading="lazy" src=`${ship.src}`, alt=`${ship.id} Ship Image` style=`transform: rotate(${(index+1)*-47+321}deg)` class="circleShip-image w-5/6 xs:w-auto z-10 relative" width=`${ship.width}` height=`${ship.height}`)
                                        div(class="bg-white absolute w-full h-full inset-0 -z-10 rounded-full")

                    div(class="lg:text-right")
                        img(loading="lazy" src="media/cobham-brand/DomeAntennaShape.png", alt="Dome Antenna Shape" width="622" height="688" class="hidden md:block float-left shape-outside -z-10 relative md:-ml-5 xl:-ml-28 opacity-0")
                        p(class="pt-64 xs:pt-56 sm:pt-72 md:pt-12 lg:pt-24").
                            Sea Tel antennas were adopted on every type of vessel, resulting in five distinct market segments: <span id="Leisure" class="font-proxima-bold transition-all inline-block ship-category">Leisure Yachts</span>, <span id="Commercial" class="font-proxima-bold transition-all inline-block ship-category">Commercial Vessels</span> (cruise and cargo ships), <span id="Military" class="font-proxima-bold transition-all inline-block ship-category">Military</span>, <span id="Oil_Gas" class="font-proxima-bold transition-all inline-block ship-category">Oil & Gas,</span> and <span id="Fisheries" class="font-proxima-bold transition-all inline-block ship-category">Fisheries</span>. Soon, the brand was being marketed across the world -- anywhere there is shipping, with a product line of 32 different models designed for every type of maritime application. Sea Tel gained immediate majority market share.
                        p.
                            Cobham appointed Tungsten as its advertising agency for the Sea Tel  division, with the objective of creating a powerful central idea for the  brand, and executing that idea across every consumer touch-point,  worldwide. This includes corporate brand-building in trade magazines  published from every shipping center around the globe, tactical advertising  in print, online display advertising, social media in Facebook, Twitter and YouTube, video production, poster design, brochures, pamphlets and  collateral materials, trade-show booth design, fabrication, executing product photography, public relations in maritime and satcom trade journals, white papers for each product, cartography and mapmaking, printing, media planning and worldwide media buying, internal training materials, and all other full-service advertising services that the brand may need.

            svg(viewBox="0 0 1920 34" class="relative z-10")
                path(fill="#fff" d="M192 19.427c-64 19.43-128 19.43-192 0V0h1920v19.427c-64-19.432-128-19.432-192 0-64 19.43-128 19.43-192 0-64-19.432-128-19.432-192 0-64 19.43-128 19.43-192 0-64-19.432-128-19.432-192 0-64 19.43-128 19.43-192 0-64-19.432-128-19.432-192 0-64 19.43-128 19.43-192 0-64-19.432-128-19.432-192 0Z")

            style.
                #seaSurface {
                    top: 60px;
                    height: 600px;
                }
                @media (min-width:1024px){
                    #seaSurface {
                        height: 800px;
                    }
                }
                @media (min-width:1200px){
                    #seaSurface {
                        height: 1000px;
                    }
                }
                @media (min-width:1400px){
                    #seaSurface {
                        top: 0px;
                        height: 1148px;
                    }
                }



            section(class="-mt-10 py-16 xs:py-18 sm:py-24 lg:py-36 relative overflow-hidden z-0")
                div(class="mx-auto max-w-xl font-proxima-bold relative z-10 text-sm sm:text-base lg:text-xl text-white text-center px-6 blur-in" style="text-shadow: 0 0 5px #071f5155;").
                    Tungsten has rare knowledge and expertise in maritime and satellite communications products and services. If you are a marketer with a maritime product targeted at a specific geo or worldwide, Tungsten would like the opportunity to talk to you about your brand, regardless of where in  the world your company is headquartered. We're in San Francisco, California
                div(class="shadow absolute inset-0 w-full h-full z-40 pointer-events-none" style="box-shadow: inset 0 0 9vw #223F7B;")
                img(src="media/cobham-brand/SeaSurface@1920.jpg", srcset="../media/cobham-brand/SeaSurface@480.jpg 480w, media/cobham-brand/SeaSurface@640.jpg 640w, media/cobham-brand/SeaSurface@780.jpg 780w, media/cobham-brand/SeaSurface@900.jpg 900w, media/cobham-brand/SeaSurface@1200.jpg 1200w, media/cobham-brand/SeaSurface@1920.jpg 1920w", alt="Sea Surface Image" loading="lazy" class="z-0 absolute w-full h-full object-cover inset-0 opacity-90 parallax" width="1920" height="1148" data-speed="-0.04" id="seaSurface")


    //- -
        const team = [
            {
                role: "Creative Director",
                name:"Stuart Silberman",
                contacts: {
                    linkedin: "https://www.linkedin.com/in/stuart_silberman/"
                }
            },
            {
                role: "Client",
                name: "Bobby Jones"
            }
        ]
    //- +team(team)


append footer_scripts
    script(defer src="js/simpleParallax.js")
    script(src="../js/cobham-seatel-brand.js" defer)





