extends ./layout/base
block variables
    - var pageTitle = 'Tungsten Advertising Case Study | Tom Meyers Illustrations'
    - let currentUrl = 'tom-meyers-illustrations.html'
    - let mediaFolder = '../media/tom-meyer/'


prepend preload




append head
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" media="print"  onload="this.media='all'"/>

    style.
        .hero-overlay {
            background: radial-gradient(40% 60% at 30% 30%, #242424, #000);
            opacity: .97;
            mix-blend-mode: darken;
        }
        .hero-desktop {

        }
        @media (max-width:767px) {
            .hero-desktop {
                height: max(45vh, 350px);
            }
        }
        .hero-book {
            left: 0%;
            top: 40%;
            width: 33%;
            rotate: -34deg;
            translate: -80% 20%;
            transition: .5s cubic-bezier(0.33, 1, 0.68, 1);
        }
        .hero:hover .hero-book {
            transition: .5s cubic-bezier(0.33, 1, 0.68, 1);
            rotate: -13deg;
            translate: none;
            filter: drop-shadow(2px 5px 3px hsla(0, 0%, 0%, .2)) drop-shadow(2px 10px 15px hsla(30, 25%, 35%, .4));
        }
        @media (min-width: 401px){
            .hero-book {
                width:33%;
            }
        }
        @media (min-width: 501px){
            .hero-book {
                top: 37%;
                left: 12%;
                width: 25%;
                translate: -80% 25%;
            }
        }
        @media (min-width: 601px){
            .hero-book {


                left: 18%;
                top: 37%;
                width: 20%;
                rotate: -34deg;
                translate: -70% 25%;
            }
        }

block page


    .hero(class="relative group" id="hero")
        img(src="media/tom-meyer/Hero@1920.jpg" srcset="media/tom-meyer/Hero@660.jpg 660w, media/tom-meyer/Hero@782.jpg 782w, media/tom-meyer/Hero@1000.jpg 1000w, media/tom-meyer/Hero@1441.jpg 1441w, media/tom-meyer/Hero@1920.jpg 1920w, media/tom-meyer/Hero@2881.jpg 2881w" alt="Hero" height="1217" width="1920" class="hero-desktop w-full relative z-0 object-cover")
        img(src="media/tom-meyer/book@1024.jpg" srcset="media/tom-meyer/book@360.jpg 360w, media/tom-meyer/book@480.jpg 480w, media/tom-meyer/book@600.jpg 600w, media/tom-meyer/book@800.jpg 800w, media/tom-meyer/book@1024.jpg 1024w, media/tom-meyer/book@1318.jpg 1318w" sizes="(max-width: 500px) 33vw, (max-width: 600px) 25vw, 20vw" width="400" height="572" class="absolute hero-book " alt="Robert Finn Book")
        div(class="hero-overlay absolute w-full h-full inset-0 z-10  group-hover:opacity-0  transition duration-500")

    div(
        class="relative pb-8 lg:py-12 xl:pb-16"
        style=" background-color: hsl(224, 62%, 34%);"
    )
        .z-10.relative
            +page-title({
                inverted: true,
                tagClient: 'Pacific Equity Partners',
                tagStyle: 'color: hsl(224, 62%, 34%)',
                h1Style: "max-width: 23ch",
                h1: 'When to Make a Serious Point in a Funny Way.',
                subtitle: 'Would you take financial advice from a cartoonist?',
            })
            +lead-in({
                bold: false,
                content: `<p>Tungsten was tasked with the design, publishing and private distribution of a book about wealth management written by the CEO of client company, Pacific Equity Partners.</p> <p class="mt-6">To help readers more easily understand the serious concepts explained in the book, Tungsten commissioned a cartoonist to illustrate its pages.</p>`,
                class:"text-white"
            })
        div(
            class="w-full h-full absolute inset-0 opacity-30 z-0"
            style={
                background: 'radial-gradient(circle at center, hsl(224, 100%, 95%) 6%, hsl(224, 42%, 34%))'}
            )


    article(class="page-content leading-normal overflow-hidden")
        section(class="shadow-xl relative pb-12 lg:pb-20 z-10")
            .container(class="xs:flow-root z-10 relative flex flex-col ")
                style.
                    #dropcap {
                        left: -24px;
                    }
                    #tngstn-ruins {
                        width: 300px;
                    }
                    @media (min-width:480px){
                        #tngstn-ruins {
                            margin-right: -10vw;
                            margin-top: 300px;
                        }
                    }
                    @media (min-width:640px){
                        #tngstn-ruins {
                            width: 400px;
                        }
                    }
                    @media (min-width:768px){
                        #tngstn-ruins {
                            width: 500px;
                            margin-top: 200px;

                        }
                    }
                    @media (min-width:1024px){
                        #tngstn-ruins {
                            width: 600px;
                            margin-top: 100px;

                        }
                    }
                    @media (min-width:1280px){
                        #tngstn-ruins {
                            width: 669px;
                        }
                    }

                +image({
                    name: 'TungstenRuins-cropped',
                    ext: 'png',
                    resolutions: [600,800,900,1000,1200,1338,1500,1800]
                })(src="media/tom-meyer/TungstenRuins-cropped@600.png" sizes="(max-width: 639px) 300px, (max-width: 767px) 400px, (max-width: 1023px) 500px, (max-width: 1279px) 600px, 669px" alt="Tungsten Ruins" width="669" height="926" class="mt-4 self-center xs:float-right shape-outside" id="tngstn-ruins")

                div(class="mt-16 md:mt-24 xl:mt-32 -order-1 relative")
                    p(class="drop-cap first-letter:!mr-5 sm:flex-2 " style="--color: #000").
                        For four weeks, every Sunday morning, Tom Meyer brewed himself a cup of coffee and sat down at his kitchen table to conceptualize and create an illustration for a book on personal finance.
                    img(loading="lazy" src="media/tom-meyer/dropcap.png", alt="F Frame" class="absolute -top-10 animate__animated" id="dropcap")

                    p(class="").
                        Tom Meyer is a nationally syndicated political cartoonist with a mastery over the power of observational comedy.


                p(class="pt-5").
                    Cartoons take up just four pages of this 120 page book, but they have an outsized impact:
                p(class="").
                    - A reader might not always read a full chapter. But with the aid of a cartoon illustration they will understand the main point of the chapter, even when they don't have background on the topic.
                p(class="").
                    - The book carries a sequence of four cartoons, each cartoon nudging the reader along to the next chapter, and helping hold the narrative together. Human beings are hardwired for linear narrative story-telling. A sequence of cartoons makes the text easier to follow, and more memorable.
                p(class="") - The presence of cartoons in a book makes the audience more accepting of the opinions expressed by the author in the written text. The reader experiences an instant sense of relief and gratitude for a light moment in a book on the serious topics of wealth management and estate planning.
                p The cartoons relax the reader, and diffuse any reluctance to reading through the long text.
                p - The book’s author expresses strong opinions that differentiate him from the approaches of other financial brokers. The message embedded in a cartoon however, is perceived by the reader to be an unbiased and objective view of a situation.


            +image({
                name:'pen',
                ext: 'png',
                resolutions: [619,825,1024,1237,1650,1920,2474]
            })(sizes="(max-width:1279px) 80vw, 825px" alt="Pen" class="xl:mt-20" width="825" height="130" class=" relative  z-10 mt-10 sm:mt-16  mx-auto " id="pen")
            style.
                #pen {
                    width: 80vw;
                    max-width: 825px;
                }
                .paper {
                    filter: drop-shadow(0px 2px 131px hsla(30,60%,20%, .4)) drop-shadow(0px 4px 5px hsla(50,30%,10%, .2))
                }
                .paper-texture {

                }
                .paper-edge {
                    mask-image: linear-gradient(0deg, black, transparent);
                    -webkit-mask-image: linear-gradient(0deg, black 50%, transparent);
                    --height: 50px;
                    height: var(--height);
                    top: calc(101% - var(--height));
                }
                @media (min-width: 500px){
                    .paper-edge {
                        top: calc(102% - var(--height));
                    }
                }
                @media (min-width: 1024px){
                    .paper-edge {
                        --height: 80px;
                        top: calc(103% - var(--height));
                    }
                }
                @media (min-width: 1170px){
                    .paper-edge {
                        --height: 90px;
                        top: calc(103% - var(--height));
                    }
                }

            div(class="paper absolute inset-0 w-full h-full z-0")
                +image({
                    name:'paper-texture',
                    ext: 'jpg',
                    resolutions:[633,949,1264,1600,1920],
                })(src="media/tom-meyer/paper-texture@1264.jpg" alt="Paper" class="paper-texture absolute w-full h-full object-cover inset-0 z-0" width="1264" height="1790")

                +image({
                    name:'paper_edge',
                    ext: 'png',
                    src: "media/tom-meyer/paper_edge@1920.png",
                    resolutions: [960,1440,1920,2880],
                })(alt="paper edge" class="paper-edge absolute left-0 right-0 z-10 w-full object-cover object-bottom " width="1920" height="154")

        section(class="relative z-0" id="sketch-container")
            style.
                #sketch-container {
                    --ratio: 1.2;
                    --containerHeight: 400px;
                    height:var(--containerHeight);
                }
                #desktop-image {
                    height: calc( var(--ratio) * var(--containerHeight));
                    top: -250px;
                }
                @media (min-width: 480px){
                    #sketch-container {
                        --ratio: 1.4;
                        --containerHeight: 480px;
                    }
                }
                @media (min-width: 640px){
                    #sketch-container {
                        --containerHeight: 500px;
                    }
                }
                @media (min-width: 768px){
                    #sketch-container {
                        --containerHeight: 600px;
                        --ratio: 1.3;
                    }
                }
                @media (min-width: 1024px){
                    #sketch-container {
                        --containerHeight: max(40vw, 1000px);
                        --ratio: 1.25;
                    }
                }
                @media (min-width: 1280px){
                    #sketch-container {
                        --ratio: 1.2;
                    }
                }
            +image({
                name: 'desktop',
                ext: 'jpg',
                resolutions: [640,768,1024,1366,1600,1920,2600,4096],
            })(src="media/tom-meyer/desktop@1920.jpg" alt="Desktop" id="desktop-image" class="absolute lg:relative object-cover parallax w-full" data-speed="0.08")

        section(class="relative z-10 torn-section")
            style.
                .torn-section {
                    --edge-height: 4.271vw;
                }
                .torn-section-top-edge {
                    margin-top: calc(-1*var( --edge-height));
                    filter: drop-shadow(0px -2px 61px hsla(30,60%,20%, 0.5)) drop-shadow(0px -4px 5px hsla(50,30%,10%, .2));

                }
                .torn-section-bottom-edge {
                    margin-bottom: calc(-1*var( --edge-height))
                }

            svg(class="-mb-1 w-full torn-section-top-edge" fill="none" viewBox="0 0 1920 82" style="height:var(--edge-height)")
                path(fill="#D85427" d="M7.6 22.75c4.94-.166 9.499-.496 14.058-1.157 2.28.165 4.94.495 7.22.66 11.78-1.321 22.038-4.461 34.197-4.461.76.165 1.14 0 1.52-.165 4.56-.661 9.12-.827 13.68.165.38.165 1.14.33 1.52.496 5.319.165 10.638.826 15.578.991 18.999.33 37.997-1.322 56.616-.826 9.499.33 18.619 0 28.118-.496l6.839-.496c12.16-1.156 23.179-3.14 33.058-6.114 7.22-2.148 13.679-2.974 21.658-2.81 1.9 0 3.42 0 5.32.166.76-.991 2.66-1.652 5.32-2.148 18.618-.992 37.997.496 56.235-2.314 1.14-.165 2.28 0 3.42 0 11.019 1.488 22.419.661 33.438.661 4.56.661 8.739 1.157 12.919 1.818 9.119-.66 17.859-1.983 26.218-3.635 10.639-1.983 19.759-2.81 30.398-1.322 4.559.66 10.639 1.487 14.439.66 9.879-1.817 18.618 0 27.738.331 4.559.165 8.739 1.157 13.299.661 3.799.165 7.219.165 11.019.33 1.14 0 1.9.331 2.66.662h2.28l2.279.991c6.46.33 12.919-.496 18.999-1.487 3.8-.661 7.979-1.157 12.159-1.157 9.879 0 18.999-2.644 28.878-1.157.76.166 1.52 0 2.28-.165 9.879-2.479 19.758-1.322 28.878.33 8.359 1.488 15.959 3.47 25.458 3.47 1.52 0 3.04.992 4.559 1.488 3.8.992 7.6 1.818 11.78 2.81 1.9.33 2.66 1.156 2.66 1.982 3.039.496 5.319 1.157 6.459 2.314 2.66 2.313 6.84 2.644 11.779 2.479 1.9 0 3.8.165 5.32.165 6.459-.661 14.059-1.983 19.378-.165 4.56 1.652 8.36 1.652 12.919 1.322 3.8-.496 7.6-1.157 11.02.33 1.14 0 1.899.33 2.659.826l6.84 2.975c7.22.496 14.819-.165 22.038-.165 0-.166-.38-.166-.38-.33.38-.827 1.14-1.323 2.66-1.653 4.94-.827 9.879.33 14.819.165h3.42c1.14.165 1.9.33 3.04.496.76.33 1.519.495 2.279.826.76.33 1.52.661 1.9.991 0 .166 0 .496.38.662 7.22 1.817 14.819.66 22.419 1.156 1.52.33 3.419.33 4.939.992 1.14.165 1.9.66 2.66.826 1.14.661 3.42.33 4.56.991.38.166.76.496 1.14.662.38 0 1.14 0 1.52.165v.165c.76.496 1.519.661 1.899 1.157 1.14 1.322 4.18 1.322 6.46 1.487 7.979.33 16.339.992 23.938 1.487 11.779.826 23.179 2.148 35.338 1.983 5.699-2.148 11.019-1.652 15.958-.495.76-.166 1.52-.331 1.9-.496 1.14-.166 2.28-.33 3.8-.33 3.8.164 7.219.33 10.639.99 27.358-.33 54.716-.495 82.074-1.321 3.42.33 7.22.66 10.639.826 7.6-.496 15.199-.991 22.802-1.322 4.94-.33 8.74-.661 11.4-2.644.76-.826 3.04-.661 4.56-1.157.76-.495 1.52-.826 3.04-.991v.165c4.56.165 8.73 2.314 13.29-.165.38-.166.38-.33.76-.496 2.28-.826 5.32-.992 7.6-1.652.76-.166 1.9-.166 2.66-.331 2.66 0 5.7 0 8.36-.33 1.14 0 1.9-.166 2.66-.166 2.28 0 4.56.33 6.46.992.76.165 1.52.33 2.28.66 1.52.331 3.42.662 4.94.827.76.165 1.9.165 2.66.33 2.28.331 4.56.496 7.22.662 1.14 0 1.9 0 3.04.165h24.32c1.14 0 1.9 0 3.04-.166 1.9-.165 3.8-.33 5.7-.66 1.14-.166 1.9-.166 3.04-.331l4.56-.496c1.14 0 2.28-.165 3.04-.165 3.42-.496 6.84-.33 10.26-.496 2.28-.165 4.56-.495 6.46-.165a485.803 485.803 0 0 0 37.61 4.462c4.18.33 7.22 1.652 7.22 3.8l-1.14.496c.76.166 1.52.496 2.28.661 2.28.33 4.56.661 6.84.661 1.14 0 2.28 0 3.42-.33 10.64-1.983 21.28-1.488 31.54.496 3.04.66 6.08.826 8.74.495 11.02-1.818 22.42-1.322 33.44-.826 1.52.661 3.8 1.157 6.08.992 8.36-.661 14.06.826 19.38 3.635 6.07 2.975 14.05 5.123 24.31 5.453 8.36.33 17.48-.33 25.46 1.818.38.165.38.33.76.33 1.52 0 3.04.166 4.56.166 5.7.991 12.16 1.322 18.24 1.652 25.46 1.653 49.78 4.627 75.23 6.115 18.24.991 36.48 3.635 55.1 3.47 23.94-.661 47.12 1.818 69.92 4.792 28.11 3.636 56.23 3.801 84.73 1.157 10.26-.992 20.14-1.818 30.4-.496 2.28-.165 4.56-.33 6.84-.826 1.14-.165 2.28-.165 3.42-.165 1.52 0 3.04.33 4.56.495 1.52 0 3.42 0 5.32.166 3.8.33 7.59.496 11.77.496 1.52-.496 2.66-.992 4.18-1.983 1.14-.166 1.9-.331 3.04-.496 1.52-.33 3.04-.496 4.56-.827 1.14-.165 1.9-.33 3.04-.495 4.94-.33 9.5-.992 14.06-.827 3.8-.165 7.98 0 12.16.331 8.36.826 16.72.661 25.08.33 1.14-.165 2.66-.165 3.8-.165 1.9 0 3.8-.165 5.32-.165 0-.33.38-.661.76-.826 5.7-1.983 13.3-2.149 19.76-2.975 20.9-3.14 41.79-3.966 63.07-.826 5.32 0 10.64.165 15.58.826 7.22.992 14.82 1.322 22.42 1.157.76.165 1.14.33 2.28.496V81.86H0V22.419c1.52 0 4.18.165 7.6.33Z")
            section(class="relative pt-6 pb-12 sm:py-12 md:py-16 lg:py-20 text-white" style="background:#D85427; ")
                .container
                    div(class="sm:grid sm:grid-cols-2 lg:grid-cols-10 relative ")

                        .col(class="sm:col-start-2 lg:col-start-7 lg:col-end-11 sm:pr-6 flex flex-col")
                            style.
                                #artboard-jigsaw {
                                    left:-3vw;
                                    bottom: -160px;
                                    width: 380px;
                                }
                                #artboard-gray-layer {
                                    height: 120px;
                                }
                                @media (min-width: 768px){
                                    #artboard-jigsaw {
                                        left:-3vw;
                                        bottom: -200px;
                                        width: 400px;
                                    }
                                    #artboard-gray-layer {
                                        height: 150px;
                                    }
                                }
                                @media (min-width: 900px){
                                    #artboard-jigsaw {
                                        width: 450px;
                                        bottom: -280px;
                                    }
                                    #artboard-gray-layer {
                                        height: 200px;
                                    }
                                }
                                @media (min-width: 1024px){
                                    #artboard-jigsaw {
                                        left: 10%;
                                        width: 500px;
                                        bottom: -300px;
                                    }
                                    #artboard-gray-layer {
                                        height: 250px;
                                    }
                                }
                                @media (min-width: 1280px){
                                    #artboard-jigsaw {
                                        left: -10px;
                                        bottom: -380px;
                                        width: 600px;
                                    }
                                    #artboard-gray-layer {
                                        height: 300px;
                                    }
                                }
                                @media (min-width: 1400px){
                                    #artboard-jigsaw {
                                        left: -100px;
                                        bottom: -500px;
                                        width: 650px;
                                    }
                                    #artboard-gray-layer {
                                        height: 450px;
                                    }
                                }
                            picture
                                source(media="(min-width:640px)" srcset="media/tom-meyer/JigsawArtboard@868.png 868w, media/tom-meyer/JigsawArtboard@1303.png 1303w" sizes="380px, (min-width:768px) 400px, (min-width:900px) 450px, (min-width:1024px) 500px, (min-width:1280px) 600px, (min-width:1400px) 650px" width="650" height="1001" )
                                +image({
                                    name: 'JigsawArtboard-mobile',
                                    ext: 'png',
                                    resolutions: [640, 768, 900, 1140],
                                })(src="../media/tom-meyer/JigsawArtboard-mobile@1200.png" sizes="85vw, (min-width:428px) 380px" alt="Art Board" class=" mx-auto mb-2 mt-5 sm:m-0 sm:w-4/5 sm:absolute z-0" id="artboard-jigsaw" width="591" height="644" )

                            p(class="-order-1") Why did Tungsten choose to put so much thought into cartoons for this book? Well, cartoons have qualities that make them an ideal medium to reach and influence a wide general public.
                            p But cartoons are also especially suitable when communicating to a target audience of intelligent, educated, social elites: and this was the demographic for the client's financial planning services.
            svg(class="-mt-1 w-full torn-section-bottom-edge" fill="none" viewBox="0 0 1920 62")
                path(fill="#D85427" d="M1906.06 42.624c-2.96-.796-6.22-.663-9.49-.398-4.15.398-8.3.53-11.86-.53a98 98 0 0 1-12.45-.797c-2.37.265-4.74 0-6.82-.265-8.9-.93-17.5-.93-26.09.53-2.08.398-3.86.531-5.93.398-8.6-.132-17.2 0-25.51-.53-13.64-.796-26.98-.266-40.32-.133-5.04 1.725-10.38 1.99-16.02.796-9.19 1.194-18.38.664-27.57.796-6.23.133-12.75.266-18.68-.796-1.19-.265-2.38-.53-3.56-.796-.59.133-1.19 0-1.78-.133-8.9-.265-17.5-.929-26.39.266-3.86.53-8.3 0-12.16-.398-7.12-.797-12.75-2.654-18.38-4.512-9.2-.398-18.09.796-27.28-.266-.3 0-.6.133-.89.133-2.08-.663-5.34.133-7.42-.663-1.78-.664-3.85-.266-5.93-.399h-.29c-1.19 0-2.38.133-3.56.266-.89.133-1.48.133-2.37.133h-5.64c-.89 0-1.48-.133-2.07-.266-1.78-.398-3.86-.398-5.64-.663-.89 0-1.78-.266-2.37-.266-13.94-1.062-27.87-.796-41.81-1.194-2.37 0-4.74 0-7.12.133-7.71-.399-15.71.928-23.42-.399-.3-.398-.59-.796-.89-1.194-2.37 0-4.45-.265-6.52-.398-.3.133-.6.265-.89.53-.89.532-2.38.664-3.86.664-10.97.133-21.94-.796-32.91 0-6.53.531-13.05.531-19.57.266-1.49-.266-2.67-.664-3.27-1.327v-.133c-4.15-.133-8-.398-12.15-.53h-6.23c-1.48 0-2.97.132-4.45.265-2.37.265-5.34 0-7.41-.797-2.37-.265-5.04-.53-7.41-.928-.89.265-1.49.663-2.38 1.061-2.07.53-4.44.929-6.82.664-8.89-.797-17.49 0-26.09 1.061-1.78.266-3.26.531-5.04.796-.89.133-1.48.133-2.37.266-5.04.398-10.09.796-15.13 1.46-1.48.265-2.96.398-4.74.53-.89.133-1.48.133-2.37.266-7.71.265-15.13 1.46-22.84.663-4.74-.265-9.19 1.195-14.23.797-11.86.928-24.31 1.194-35.88 3.052-2.07 0-4.15-.266-6.23-.266-3.26.398-6.52.664-9.78.531-.89.266-1.78.664-2.67 1.062-2.07 0-4.15.132-6.23.398-.89 0-1.78 0-2.37-.133-2.07-.265-4.45-.133-6.52-.53-19.57.53-39.14.795-58.71 1.06-29.95.532-59.6 1.328-88.96 3.451-.89.133-2.08.133-2.97.133-21.05-.796-42.1-2.521-63.15-1.194-1.49 0-3.27-.133-4.75-.266h-3.26c-2.97 0-5.93-.265-8.304.531-8.302-1.327-17.198-.663-25.797-1.725-3.559-.398-7.413 0-11.268.53-7.413.93-15.123.93-22.536.399-6.524-.531-12.751-.398-19.274-.266-6.524 0-13.344.133-19.571-1.061-2.075.133-4.151.398-6.227.663l-.889.133h-1.483c-.593 0-1.186-.133-1.483-.265l-.889-.133-.89-.133c-.593-.133-.889-.265-1.482-.398l-1.779-.398c-.297 0-.593-.133-.593-.133a8.054 8.054 0 0 1-3.559 0h-.889c-.89 0-1.483.133-2.373.133-2.668.265-5.041.265-7.413-.266-.296-.132-.593-.265-.889-.132-1.186-.133-1.779-.398-2.372-.796-7.414-1.858-15.716-2.522-24.019-2.92-2.372-.133-4.744 0-7.117-.265-.889.133-1.779.265-2.372.398-13.047-1.327-26.094-2.654-39.141-4.114-5.634-1.194-12.157-.53-17.791-1.858-2.669-.265-4.745-.929-7.413-1.327a4.33 4.33 0 0 0-1.78.398h-2.668c-.89 0-1.483 0-1.186-.265-1.186 0-2.076 0-2.966-.398-.296-.133-.889-.133-1.186-.133-2.372-.663-5.337.266-7.413-.796-.593-.398-1.482-.796-2.076-1.327-1.779 0-3.261-.133-5.04-.133l-1.78-.796c-7.116-1.725-14.529-2.654-22.832-1.725-2.372.265-5.337.133-8.006-.133-7.413-.796-15.123-1.061-22.832-1.061-7.117 0-14.234-.664-21.054-1.062-12.454-.664-24.908 0-37.065-.133-2.076.664-4.448.664-6.82.664-14.826.132-29.06 1.46-42.403 4.114a62.715 62.715 0 0 1-7.413.796c-.593.265-1.186.663-1.483 1.061-.593.266-1.483.398-2.372.531a16.248 16.248 0 0 1-3.558.398h-.594c-1.482 1.195-5.04 1.062-7.709 1.195-21.35 1.061-42.697 2.654-63.454 4.91-2.965.663-6.227.928-9.489.398-.593-.133-1.186-.133-1.779-.266-2.965.664-6.227 1.46-9.192 2.123-1.779.399-3.559.664-5.634.93-9.489.663-18.681.796-28.17.663-1.779-.265-3.855-.133-5.634-.265a15.939 15.939 0 0 0-3.855 1.194c-38.251-.664-76.206-1.062-114.458.265a156.162 156.162 0 0 1-22.239 1.195c-4.745.53-9.489 1.327-13.937 2.388-5.931.398-11.861.93-17.495 1.46v.133c-5.93-.797-12.158.132-17.792-.664-2.965-.265-5.93-.663-8.896-.929-.593 0-1.186.133-1.779.133h-1.186c-.296 0-.593.133-.593.133-.889 0-1.483 0-2.372-.133 0 0-.297 0-.297-.133h-10.081c-.594.133-1.187.266-2.076.266h-2.076v.265c-.593 1.725-3.855 2.389-7.116 2.389-11.268.398-22.24.929-33.508 1.592-1.779.133-3.558 0-4.744-.398a5.401 5.401 0 0 1-1.186.398c-2.669.133-5.338 0-8.006.133-26.391 1.46-50.409 2.92-74.131 5.175-5.634.531-10.675 1.725-16.309 1.725-13.64-.132-26.687 1.46-40.03 2.389-2.076.133-4.449 0-6.524.398-.593 0-1.186 0-1.78-.133-3.558.399-7.116.93-10.378 1.593-2.372.265-4.448.133-6.227-.93-2.668-.132-5.04.266-7.71.664L0 0h1919.99l.01 43.288c-4.74.265-9.19-.398-13.94-.664ZM748.434 27.231l.889.398c0-.266-.593-.398-.889-.398Z")

        div(class="hidden sm:block" id="artboard-gray-layer" style="background-color: #EAEAEA;")

        section(class="relative z-20 py-12 lg:py-20")
            .container
                .grid(class="lg:grid-cols-2")
                    .col(class="lg:col-span-1 lg:pr-14 flow-root")
                        style.
                            #book-image {
                            }
                            @media (min-width: 1024px){
                                 #book-image {
                                    right: 2%;
                                    bottom: 0;
                                    top: auto;
                                    width: calc(50% - 1rem);
                                    height: 500px;
                                }
                            }
                            @media (min-width: 1280px){
                                 #book-image {
                                    right: 3%;
                                    bottom: 3%;
                                    top: auto;
                                    width: calc(50% - 4rem);
                                    height: 530px;
                                }
                            }
                            @media (min-width: 1400px){
                                 #book-image {
                                    right: auto;
                                    left: 50%;
                                    bottom: 3%;
                                    top: auto;
                                    width: calc(50% - 5rem);
                                    max-width: 879px;
                                    height: 600px;
                                }
                            }
                            @media (min-width: 1600px){
                                 #book-image {
                                    height: 664px;
                                }
                            }
                        img(loading="lazy" src="media/tom-meyer/book-image@879.jpg" srcset="media/tom-meyer/book-image@660.jpg 660w, media/tom-meyer/book-image@879.jpg 879w, media/tom-meyer/book-image@1319.jpg 1319w, media/tom-meyer/book-image@1758.jpg 1758w, media/tom-meyer/book-image@2637.jpg 2637w, media/tom-meyer/book-image@3516.jpg 3516w" sizes="(max-width: 639px) 90vw, (max-width: 1600px) 45vw,  46vw" alt="Book Image" width="879" height="664" class="mx-auto sm:float-right sm:ml-10 sm:mb-10 -mt-12 mb-8 sm:-mt-20 md:-mt-28 lg:absolute sm:w-1/2 lg:object-cover object-left" id="book-image")

                        p It is rare for an art form to have made an impact academically, culturally, socially, economically, and as commercial art in advertising.
                        p This target audience is familiar with, and even wistful about cartoons. They have grown up with cartoons whether in newspapers or on television. Since their childhoods, they have associated cartoons with laughter, happiness and fun.
                        p Most importantly, the most vital role for cartoons in this book is to unite the readers behind a common point-ofview which the readers collectively share between themselves, and with the author.

        section(class="pt-12 pb-20 xs:pb-24 sm:pb-30 lg:pt-24 lg:pb-34 xl:pb-36 2xl:pb-40 " style="background-color: #EAEAEA;")
            style.
                @media (min-width:640px) {
                    .imagesGrid .item:nth-child(2n+1) {
                        grid-column-start: 2;
                    }
                    .imagesGrid .item:nth-child(2n+2) {
                        grid-column-start: 6;
                    }
                }

            .container(class="imagesGrid grid justify-center xs:gap-10 xs:grid-cols-2 sm:grid-cols-10 sm:gap-18 md:gap-20 max-w-4xl")
                -
                    const imagesGrid = [
                        {
                            image: 'TungstenRuins',
                            title: 'Ruins',
                            content: 'The simplicity of cartoons is what makes them so effective for mass communication. The more complex the concept to be communicated, the greater must be the simplicity of the drawing.'
                        },
                        {
                            image: 'TungstenBrokerGod',
                            title: 'Moneybag',
                            content: 'For the most part, cartoons are composed of two elements: caricature, which parodies the individual, and allusion, which creates the situation or context into which the individual is placed.'
                        },
                        {
                            image: 'TungstenEarBroker',
                            title: 'Big Ear',
                            content: 'Cartoons use exaggeration for effect, as seen in the physical features of the characters, and the scale of the humor. Yet, a cartoon must make a realistic appeal to the target audience. While this cartoon appears to underplay the severity of a situation, it is actually establishing the severity of that situation.'
                        },
                        {
                            image: 'TungstenJigsawBroker',
                            title: 'Jigsaw',
                            content: 'This sequence of cartoons helps the target audience understand and interpret the landscape of financial services firms. The illustrations appeal to the audiences\'past experiences with financial brokers. While this cartoon is a reflection of the general state of the financial industry, the reader‘s state of mind is also reflected in the cartoon.'
                        },
                    ]
                each item in imagesGrid
                    div(class="item mx-auto mt-10 first:mt-0 xs:mt-0 sm:col-span-4" style="max-width: 252px;")
                        div(class="image bg-purple-200")
                            img(loading="lazy" src=`media/tom-meyer/${item.image}@2x.jpg` srcset=`media/tom-meyer/${item.image}@2x.jpg 2x, media/tom-meyer/${item.image}@3x.jpg 3x, media/tom-meyer/${item.image}@4x.jpg 4x` sizes="(max-width: 479px) 252px, (max-width:592px) 43vw, (max-width: 639px) 252px, (max-width: 710px) 216px, (max-width:767px) 31vw, 252px" alt=`${item.title}` width="252" height="349" class="shadow-cardshadow w-full sm:w-auto")
                        b(class="mt-5 block ")= item.title
                        div(class="bg-current w-2 h-0.5 block my-3" style="color: #D85427;")
                        p(class="!mt-0")= item.content

    section(class="relative z-10 -top-12 pt-px before:absolute before:h-1/2 before:inset-x-0 before:top-0 before:bottom-50 before:bg-[#eaeaea] pb-7.5")

        div(class="max-w-4xl mx-auto z-10 relative mt-8 sm:mt-12")
            .flex(class="flex-col sm:flex-row items-center relative mx-auto  z-10 sm:pt-8 sm:pl-16 md:pl-24 sm:pr-20 sm:pb-20 lg:pb-28 gap-4 sm:gap-6 " style="max-width: 749px;")
                +image({
                    name: 'TomMeyer',
                    ext: 'png',
                    resolutions: [394, 526, 788],
                    width: 263,
                    height: 313
                })(
                    src="media/tom-meyer/TomMeyer@263.png"
                    alt="Tom Meyer"
                    sizes="(max-width:350px) 71vw, 263px"
                    class="fade-in-right relative w-40 xs:w-48 mx-auto mt-10 sm:mt-0"
                )
                div(class="tom-meyer-info relative fade-in-left z-10 text-black sm:max-w-prose mx-auto md:pl-0 md:pr-10 md:-translate-y-4 lg:translate-y-0 sm:mt-4") Tom Meyer's cartoons have appeared in the New York Times, Time, National Journal, Encyclopedia Britannica, San Francisco Chronicle, and at the Smithsonian. His awards include a Fischetti, James Madison Freedom of Information Award, and California Newspaper Publishers Association. He has received a Knight fellowship at Stanford University.
            style.
                .tom-meyer-info {
                    width: 73vw;
                    text-align: right;
                    font-size: clamp(13px, 4vw, 16px);
                    margin-bottom: 10rem;
                }
                @media (min-width: 350px){
                    .tom-meyer-info {
                        width: 63vw;
                    }
                }
                @media (min-width: 400px){
                    .tom-meyer-info {
                        width: 53vw;
                    }
                }
                @media (min-width: 550px){
                    .tom-meyer-info {
                        width: 40vw;
                        text-align: center;
                    }
                }

                @media (min-width: 640px){
                    .tom-meyer-info {
                        width: auto;
                        margin-bottom: 0;
                        text-align: left;
                        max-width: 65ch;
                    }
                }
                .curved-paper-mobile{
                    translate: -4vw 0;
                }
                @media (min-width:640px){
                    .curved-paper-mobile{
                        translate: 0 0;
                        height: 380px;
                    }
                }
            +picture({
                media: [
                    {
                        screenWidth: 640,
                        resolutions: [1817, 3700],
                        name: 'curved-paper',
                        ext: 'png',
                        width: 1817,
                        height: 1002,
                        sizes: '(max-width: 700px) 100vw, 697px'
                    },
                ],
                mobileName: 'curved-paper-mobile',
                mobileExt: 'png',
                mobileResolutions: [1003, 2004],
                mobileWidth:1003,
                mobileHeight:1818,
                alt:"Curved Paper",
                class: 'curved-paper-mobile absolute inset-0 md:w-full h-full z-0 object-contain'
            })

        style.
            .tom-paper-bg {

            }

            @media (min-width: 1280px){
                .tom-paper-bg {
                    height: 540px;
                }
            }
            @media (min-width: 1536px){
                .tom-paper-bg {
                    height: 650px;
                }
            }

        img(
            src="../media/tom-meyer/tom-paper-bg.svg"
            alt="Paper Bg"
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full object-cover z-0 tom-paper-bg"
            loading="lazy"
            width="1920"
            height="646"

        )


    -
        const team = [
            {
                role: "Illustrator",
                name: "Tom Meyer",
                contacts: {
                    web: "https://www.meyertoons.com/content.html?page=2",
                }
            },
            {
                role: "Copywriter",
                name: "Mukul Bakshi",
                contacts: {
                    linkedin: "https://www.linkedin.com/in/mukulbakshi/",
                }
            },
            {
                role: "Art Director",
                name: "Zachery Boutilier",
            }
        ]
    +team(team)

    audio(preload="auto" src="../media/tom-meyer/light-switch-1.wav" id="turnOn")
    audio(preload="auto" src="../media/tom-meyer/light-switch-2.wav" id="turnOff")

append footer_scripts
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js")
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js")
    script(src="js/simpleParallax.js" defer)
    script(src="js/tom-meyers-illustrations.js" defer)







