-
    const thumbsFolder = 'media/projects/';
    const projects = [
        {
            category: 'satellite communications',
            name: 'Cobham',
            medium: 'Brand Advertising',
            imageDir: `cobham-brand/`,
            image: `luxury-yacht`,
            imgAlt: `Leisure yacht with two Cobham maritime antenna on mast`,
            url: `cobham-seatel-brand`
        },
        {
            category: 'satellite communications',
            name: 'Cobham',
            medium: 'Data Sheets, Print',
            imageDir: `cobham-datasheets/`,
            image: `sea-tel-4012`,
            altTag: `Technical illustration of Cobham maritime satellite communications antenna`,
            url: `cobham-seatel-datasheets`
        },
        {
            category: 'satellite communications',
            name: 'Cobham',
            medium: 'White Papers, Print',
            imageDir: `cobham-white-papers/`,
            image: `white-papers`,
            altTag: `Technical illustration of Cobham maritime satellite communications antenna`,
            url: `white-paper`
        },
        {
            category: 'industrial',
            name: 'Davis Instruments',
            medium: 'Video',
            imageDir: `davis-instruments/`,
            image: `wallenda-in-vegas`,
            imgAlt: `Tightrope walker Nik Wallenda traversing a wire over Las Vegas`,
            url: `davis-instruments`
        },
        {
            category: 'Retail',
            name: 'Ambassador Toys',
            medium: 'Newspaper, Web',
            imageDir: `ambassador-toys/`,
            image: `sf-giants-teddy-bear`,
            imgAlt: `Teddy bear floating on clouds, wearing San Francisco Giants shirt and cap`,
            url: `ambassador-toys`
        },
        {
            category: 'financial services',
            name: 'Pacific Equity Partners',
            medium: 'Hand Illustration',
            imageDir: `tom-meyer/`,
            image: `tom-meyer-drawing`,
            imgAlt: `Hand-drawn cartoon illustration by Tom Meyer, alongside a Rotring pen.`,
            url: `tom-meyers-illustrations`
        },
        {
            category: 'political advertising',
            name: 'Shamann Walton',
            medium: 'Television Commercial',
            imageDir: `shamann-walton/`,
            image: `multi-racial-fists`,
            imgAlt: 'Four multi-racial fists, with political sticker on back of each hand.',
            url: `shamann-walton`
        },
        {
            category: 'non-profit',
            name: 'Porziuncola Nuova',
            medium: 'Print, Collateral',
            imageDir: `porziuncola/`,
            image: `porziuncola`,
            imgAlt: `Fresco on façade of Porziuncola, depicting St. Francis receiving “Pardon of Assisi" from Christ`,
            url: `porziuncola`
        },
        {
            category: 'non-profit',
            name: 'Friends of Alaska Marine Highway System',
            medium: 'Website, Digital Marketing',
            imageDir: `alaska/`,
            image: `mv-malaspina`,
            imgAlt: `Illustration of Alaskan ferry MV Malaspina`,
            url: `alaska`
        },
        {
            category: 'Telecom',
            name: 'New Delhi Restaurant',
            medium: 'Web',
            imageDir: `new-delhi/`,
            image: `new-delhi`,
            url: `new-delhi`
        },
    ]

    const filteredProjects = projects.filter((item)=>{
        return item.url !== currentUrl
    })


section(class="py-10 md:py-16 relative projects-section bg-white")
    .container.max-w-7xl
        if currentUrl !== '/'
            header.text-blue.font-proxima-bold.text-3xl.text-center Our Work and Clients
        div(class=`projects-grid grid gap-3 md:gap-4 ${currentUrl !== '/' ? 'mt-6 md:mt-10' : ''} `)
            each project in filteredProjects
                a.item(
                    href=project.url
                    class="m-auto sm:max-w-none relative block shadow-cardshadow overflow-hidden group will-change-transform-opacity box-border"
                    style={
                        opacity: 0,
                        'min-height':'100px',
                        'min-width':'200px'
                    }
                )
                    .overlay(class="absolute inset-0 grid place-items-center opacity-0 z-50 bg-blue-dark/80 duration-500 transition-opacity pointer-events-none group-hover:opacity-100" style="will-change:opacity; backdrop-filter: blur(2px)")
                        .text(class="text-center px-6 text-white tracking-wide" style="text-shadow: 0 2px 3px var(--c-blue-dark);")
                            div(style="font-size: 11px;" class="project-category transition-transform-opacity will-change-transform-opacity uppercase -translate-x-1 duration-500 opacity-0 group-hover:opacity-70 group-hover:transform-none")= project.category
                            div(class="my-1.5 project-name text-xl lg:text-2xl font-proxima-bold will-change-opacity transition-opacity opacity-0 duration-700 group-hover:opacity-100")= project.name
                            div(class="text-xs project-type translate-x-1 opacity-0 duration-500 transition-transform-opacity will-change-transform-opacity group-hover:transform-none group-hover:opacity-70")= project.medium
                    +image({
                        dir: thumbsFolder + project.imageDir,
                        name: `${project.image}`,
                        ext: 'jpg',
                        resolutions: [510, 780]
                    })(class="relative w-full h-full z-0 duration-1000  will-change-transform border-3 border-current text-white hover:text-blue group-hover:scale-105" style="transition-property: color, transform" width="390" height="217" alt=`${project.imgAlt}`  sizes="(max-width: 555px) 92vw, (max-width: 861px) 44vw, (max-width: 1280px) 30vw, 390px")



