-
    const thumbsFolder = 'media/projects/';
    mediaFolder = thumbsFolder;
    const projects = [
        {
            category: 'Telecom',
            name: 'Cobham SeaTel Brand',
            type: 'Web',
            image: `cobham-brand`,
            url: `cobham-seatel-brand.html`
        },
        {
            category: 'Telecom',
            name: 'Davis Instruments',
            type: 'Web',
            image: `davis-instruments`,
            url: `davis-instruments.html`
        },
        {
            category: 'Telecom',
            name: 'Ambassador Toys',
            type: 'Print',
            image: `ambassador-toys`,
            url: `ambassador-toys.html`
        },
        {
            category: 'Telecom',
            name: 'Cobham Seatel Datasheets',
            type: 'Print',
            image: `cobham-datasheets`,
            url: `cobham-seatel-datasheets.html`
        },
        {
            category: 'Telecom',
            name: 'Tom Meyer\'s Illustrations',
            type: 'Print',
            image: `tom-meyer`,
            url: `tom-meyers-illustrations.html`
        },
        {
            category: 'Telecom',
            name: 'Shamann Walton',
            type: 'Print',
            image: `shamann-walton`,
            url: `shamann-walton.html`
        },
        {
            category: 'Telecom',
            name: 'Porziuncola',
            type: 'Print',
            image: `porziuncola`,
            url: `porziuncola.html`
        },
        {
            category: 'Telecom',
            name: 'Alaska',
            type: 'web',
            image: `alaska`,
            url: `alaska.html`
        },
        {
            category: 'Telecom',
            name: 'New Delhi Restaurant',
            type: 'web',
            image: `new-delhi`,
            url: `new-delhi.html`
        },
    ]

    const filteredProjects = projects.filter((item)=>{
        return item.url !== currentUrl
    })


section(class="py-10 md:py-16")
    .container.max-w-7xl
        if currentUrl !== '/'
            header.text-blue.font-proxima-bold.text-3xl.text-center Our Work and Clients
        div(class=`works-grid grid gap-3 md:gap-4 ${currentUrl !== '/' ? 'mt-6 md:mt-10' : ''} `)
            each project in filteredProjects
                a.item(
                    href=project.url
                    class="m-auto max-w-sm sm:max-w-none relative block shadow-cardshadow overflow-hidden group will-change-transform-opacity min-w-fit"
                )
                    .overlay(class="absolute inset-0 grid place-items-center opacity-0 z-50 bg-blue-dark/80 duration-500 transition-opacity pointer-events-none group-hover:opacity-100" style="will-change:opacity; backdrop-filter: blur(2px)")
                        .text(class="text-center text-white tracking-wide" style="text-shadow: 0 2px 3px var(--c-blue-dark);")
                            div(class="project-category text-xs transition-transform-opacity will-change-transform-opacity uppercase -translate-x-1 duration-500 opacity-0 group-hover:opacity-100 group-hover:transform-none")= project.category
                            div(class="project-name text-xl lg:text-2xl font-proxima-bold will-change-opacity transition-opacity opacity-0 duration-700 group-hover:opacity-100")= project.name
                            div(class="project-type translate-x-1 opacity-0 duration-500 transition-transform-opacity will-change-transform-opacity group-hover:transform-none group-hover:opacity-100")= project.type
                    +image({
                        name: `${project.image}`,
                        ext: 'jpg',
                        resolutions: [510, 780]
                    })(class="relative w-full h-full z-0 duration-1000  will-change-transform border-3 border-current text-white hover:text-blue group-hover:scale-110 group-hover:rotate-1" style="transition-property: color, transform" width="390" height="217" alt=`${project.name}` src=`${thumbsFolder + project.image}@390.jpg` sizes="(max-width: 555px) 92vw, (max-width: 861px) 44vw, (max-width: 1280px) 30vw, 390px")



