-
    const projects = [
        {
            category: 'Telecom',
            name: '8 Easy Turns',
            type: 'Print',
            image: 'img/works_clients_item1.jpg'
        },
        {
            category: 'Telecom',
            name: '8 Easy Turns',
            type: 'Print',
            image: 'img/works_clients_item2.jpg'
        },
        {
            category: 'Telecom',
            name: '8 Easy Turns',
            type: 'Print',
            image: 'img/works_clients_item3.jpg'
        },
        {
            category: 'Telecom',
            name: '8 Easy Turns',
            type: 'Print',
            image: 'img/works_clients_item4.jpg'
        },
        {
            category: 'Telecom',
            name: '8 Easy Turns',
            type: 'Print',
            image: 'img/works_clients_item5.jpg'
        },
        {
            category: 'Telecom',
            name: '8 Easy Turns',
            type: 'Print',
            image: 'img/works_clients_item6.jpg'
        },
        {
            category: 'Telecom',
            name: '8 Easy Turns',
            type: 'Print',
            image: 'img/works_clients_item7.jpg'

        },
        {
            category: 'Telecom',
            name: '8 Easy Turns',
            type: 'Print',
            image: 'img/works_clients_item8.jpg'
        },
        {
            category: 'Telecom',
            name: '8 Easy Turns',
            type: 'Print',
            image: 'img/works_clients_item9.jpg'
        },
        {
            category: 'Telecom',
            name: '8 Easy Turns',
            type: 'Print',
            image: 'img/works_clients_item10.jpg'
        },
        {
            category: 'Telecom',
            name: '8 Easy Turns',
            type: 'Print',
            image: 'img/works_clients_item11.jpg'
        },
        {
            category: 'Telecom',
            name: '8 Easy Turns',
            type: 'Print',
            image: 'img/works_clients_item12.jpg'
        },
    ]

    // works-clients grid random appear
    const timeNums = [50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600];

section(class="py-10 md:py-16")
    .container
        header.text-blue.font-proxima-bold.text-3xl.text-center Our Work and Clients
        div(class="works-grid grid gap-2 md:gap-4 mt-6 md:mt-10")
            each project in projects
                a.item(href="#" data-aos-duration="500" data-aos-delay=`${timeNums[Math.round(Math.random() * timeNums.length)]}` data-aos="zoom-in" class="m-auto max-w-sm sm:max-w-none relative block shadow-cardshadow overflow-hidden group will-change-transform-opacity transition-transform-opacity")
                    .overlay(class="absolute inset-0 grid place-items-center opacity-0 z-50 bg-blue/90 duration-500 transition-opacity pointer-events-none group-hover:opacity-100" style="will-change: opacity")
                        .text(class="text-center text-white tracking-wide" style="text-shadow: 0 1px 5px var(--c-blue-dark);")
                            div(class="project-category text-xs transition-transform-opacity will-change-transform-opacity uppercase -translate-x-3 duration-500 opacity-0 group-hover:opacity-100 group-hover:transform-none")= project.category
                            div(class="project-name text-xl lg:text-2xl font-proxima-bold will-change-opacity transition-opacity opacity-0 duration-700 group-hover:opacity-100")= project.name
                            div(class="project-type translate-x-3 opacity-0 duration-500 transition-transform-opacity will-change-transform-opacity group-hover:transform-none group-hover:opacity-100")= project.type
                    img(loading="lazy" width="470" height="262" src=`${project.image}` alt="" class="relative w-full h-full z-0 duration-1000  will-change-transform border-3 border-current text-white hover:text-blue group-hover:scale-110 group-hover:rotate-1" style="transition-property: color, transform")



